
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.main-wrapper{
    color: #757575;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    .inner-wrapper{

    }
}


